/* feel free to go on google fonts and change this to another font! */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

/* == UI COMPONENTS == */
/* buttons */
[type="button"],
[type="submit"],
button,
.a-button,
.yellow-button,
.transp-button,
.green-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  /* if you change the font, don't forget to change it here too! */
  font-family: "Quicksand", sans-serif;
  padding: 0.6rem 1.2rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 10px;
}

[type="button"]:hover,
[type="submit"]:hover,
button:hover {
  background-color: white;
}

.buttons {
  text-align: justify;
}

/* == HTML == */
*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 18px;
}

div {
  margin-bottom: 1rem;
}

/* body */

body {
  box-sizing: border-box;
  min-height: 100%;
}

/* Anchors */
a {
  border-bottom: 3px solid #beebaa44;
  color: #5a7913;
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  background-color: #beebaa44;
}

/* paragraph */
/* == HEADERS == */
h1,
h2,
h3,
h4 {
  color: #0a5822;
  margin-top: 2rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.6rem;
  margin: 1rem 1rem 1rem 0;
}

h4 {
  padding: 20px;
}

/**/
.wrapper,
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0;
  transition: all 0.3s ease;
}

.container::before,
.container::after,
.wrapper::before,
.wrapper::after {
  display: table;
  content: "";
  clear: both;
  width: 100%;
}

.main {
  margin: 2rem;
}

.masthead {
  margin: 3rem 0;
  padding-bottom: 1rem;
  border-bottom: 6px solid rgba(231, 231, 231, 0.39);
  min-width: 100%;
}

.footer {
  clear: both;
  position: relative;
  height: 200px;
  color: #eee;
  height: 2.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #5a7913;
}

.nav-item {
  list-style: none;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin: 0 1rem;
}

.hof {
  display: flex;
  flex-wrap: wrap;
}

.hof>div {
  margin: 3rem;
  padding: 2rem;
  border: 1px solid green;
}

.hof img {
  border: 6px double rgb(125, 153, 125);
}

.hof h4 {
  margin-bottom: 0;
}

blockquote {
  color: #eee;
  background-color: #5a7913;
  padding: 1rem;
}